<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Message from Contact Us Page - <%= "#{@name} (#{@email})"  %></p>
  <p>-----------------------------------------</p>
  <p><%= @message %></p>
  <p>-----------------------------------------</p>
  </body>
</html>