<div class="content-container-left-align">
  <a href=<%= show_upload_file_path %> class="btn btn-secondary btn-sm back-btn">
  <div class="collapse-arrow" ><i class="arrow left"></i> Back to File</div>
  </a>

  <h2>Share File</h2>
  <%= render_async shared_users_path(@uploadedfile.id), event_name: "shared-users-loaded", interval: (10*1000) %>

</div>