<div class="content-container-left-align">
  <a href=<%= home_info_path %> class="btn btn-secondary btn-sm back-btn">
  <div class="collapse-arrow" ><i class="arrow left"></i> Back</div>
  </a>

  <h2 class="page-title centered-title font-weight-bold">Frequently Asked Questions</h2>
  <div class="breaker"></div>

  <a type=button class="btn btn-primary btn-block submit-a-question-button" href=<%= contact_path %>>Submit a Question</a>
  <h3>FAQ coming soon...</h3>

</div>

