<div class="jumbotron jumbotron-fluid" id="try-now-jumbotron">
  <h1 class="display-5" id="try-now-title">Share Music With Confidence</h1>
  <p class="lead" id="try-now-description">WaveSig is an audio sharing platform with built in watermarking capabilities</p>
  <a class="btn-primary btn-xl" href=<%#= new_user_registration_path %> role="button">Try it now</a>
</div>

<div class="jumbotron jumbotron-fluid" id="how-it-works">
  <h1 class="display-5" id="how-it-works-title">How It Works</h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="p-2">

      <div class="card how-it-works-card" style="width: 18rem;">
        <img class="how-it-works-image" src=<%= image_url('share.svg') %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">You can upload files to WaveSig and share them with friends and collaborators.</p>
        </div>
      </div>

    </div>

    <div class="p-2">

      <div class="card how-it-works-card" style="width: 18rem;">
        <img class="how-it-works-image" src=<%= image_url('soundwave.svg') %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">WaveSig embeds a unique, inaudible watermark in every shared file. This watermark is very difficult to remove without severely degrading the audio quality.</p>
        </div>
      </div>

    </div>
    <div class="p-2">

      <div class="card how-it-works-card" style="width: 18rem;">
        <img class="how-it-works-image" src=<%= image_url('find-file-origin.svg') %> alt="Card image cap">
        <div class="card-body">
          <p class="card-text">When you want to find the origin of a file, you can upload it to WaveSig. WaveSig will analyze the file to detect the unique watermark and the associated sharee.</p>
        </div>
      </div>

    </div>
  </div>
</div>

