<div id="find-origin-container">
  <a href=<%= show_upload_file_path(@original_file.id) %> class="btn btn-secondary btn-sm back-btn">
    <div class="collapse-arrow" ><i class="arrow left"></i> Back to File</div>
  </a>


  <h2>Leak Source: <%= @leaker %></h2>

</div>