#login-container {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;
}

#register-container {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;
}

#edit-user-container {
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;
}

.text-field {
  margin: 18px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-input {
  width: 100%;
}

#remember-checkbox {
  margin: 10px;
}

.submit-btn {
  padding-bottom: 10px;
}

