header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  //background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  border: none;
  border-radius: 10rem;
}

#try-now-title {
  font-weight: bold;
}

#try-now-description {
  margin-bottom: 40px;
}

#try-now-jumbotron {
  padding-top: 20%;
  padding-right: 5%;
  padding-left: 5%;
}

#how-it-works {
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 5%;
}

#how-it-works-title {
  font-weight: bold;
  margin-bottom: 5%;
}

.how-it-works-card {
  background-color: transparent !important;
}

.how-it-works-image {
  min-width: 50%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(296deg) brightness(107%) contrast(102%);
}