//#user-share-multiselect {
//  color: white;
//}

.multiselect {
  color: black !important;
  background-color: white !important;
}

form > .btn-group {
  width: 100%;
  padding-bottom: 10px;
}

form > .btn-group > .multiselect-container {
  width: 100%;
  color: black !important;
}

.shared-user-container > input {
  background-color: white;
}