#show-audio-file-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#new-file-upload-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#play-pause-btn {
  background-color: #2843cb!important;
  color: white;
  //margin-top: 10px;
}

#download-link-container {
  a {
    color: white;
    text-decoration: none;
  }
}

.browse-file-field {
  margin-bottom: 15px;
}

#delete-file-btn {
  //margin-top:
}