#show-audio-file-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#find-origin-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#new-file-upload-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#new-share-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#play-pause-btn {
  background-color: #2843cb!important;
  color: white;
}

#download-link-container {
  a {
    color: white;
    text-decoration: none;
  }
}

.browse-file-field {
  margin-bottom: 15px;
}

#share-btn {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0.25rem;
}

#music-player-container {
  text-align: center;
  margin-top: 10px;
}

