#friends-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  //background-color: #343a40!important;
  //padding: 30px 30px 40px;

  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard-container {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  //background-color: #343a40!important;
  //padding: 30px 30px 40px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#my-dashboard-title {

}

#audio-file-btn-group {
  text-align: left;
  padding-bottom: 20px;
}

#audio-uploaded-accordion-title {
  text-align: left;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
}

#audio-shared-accordion-title {
  text-align: left;
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 10px;
}

#audio-upload-accordion {
  text-align: left;
}

#audio-shared-accordion {
  text-align: left;
}

.card {
  //border-radius: 18px !important;
  margin-bottom: 15px;
  border: none !important;
}

.card-header {
  background-color: slategray!important;

  button {
    color: white;
    width: 100%;
  }
}

.card {
  .collapse {
    background-color: ghostwhite;
    color: black
  }
}

.view-file-btn-container {
  margin-top: auto;
  margin-bottom: auto;
}

.preview-div {

}

.preview-field {
  text-align: left;
  margin-bottom: 10px;
}

.audio-file-name {
  text-align: left;
  display: table-cell;
  width: 100%;
}

.sharer-accordion-label {
  text-align: right;
  display: table-cell;
  width: 100%;
}

.collapse-arrow {
  text-align: right;
  display: table-cell;
  width: 100%;
}

.back-btn {
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.forward-btn {
  padding-bottom: 5px;
  margin-bottom: 10px;
}