#notifications-count-single-digit.fa-stack[data-count]:after{
  position: absolute;
  right: 5%;
  top: 10%;
  content: attr(data-count);
  font-size: 90%;
  padding: .6em;
  line-height: .75em;
  color: #343a40 !important;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

#notifications-count-double-digit.fa-stack[data-count]:after{
  left: 1%;
  position: absolute;
  right: 0%;
  top: 12%;
  content: attr(data-count);
  font-size: 80%;
  padding: .6em;
  line-height: .75em;
  color: #343a40 !important;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

#notifications-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}

.notifications-title-button-container {
  padding-top: 10px;
  align-items: center;
  display: flex;
}

.notifications-clear-btn-container {
  margin-left: auto;
}

.notifications-list-container {
  margin-top: 10px;
}
.notifications-group-container {
  margin-bottom: 30px;
}

.notification-group-title {
  padding-bottom: 10px;
}

.notification-no-records {
  margin-top: 10px;
  font-weight: bold;
}
.notification-row {
  width: 100%;
  padding: 10px;
}

.notification-card {
  background-color: slategray !important;
}

.notification-text {
  margin-left: 10px;
}

.notification-time {
  text-align: right;
  padding-right: 0px!important;
}

.notification-view-btn {
  text-align: right;
  padding-right: 0px!important;
  margin-top: 5px;
  margin-bottom: 5px;
}

#friends-container {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  //background-color: #343a40!important;
  //padding: 30px 30px 40px;

  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#dashboard-container {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  //background-color: #343a40!important;
  //padding: 30px 30px 40px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#my-dashboard-title {

}

#audio-file-btn-group {
  text-align: left;
  padding-bottom: 20px;
}

#audio-uploaded-accordion-title {
  text-align: left;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
}

#audio-shared-accordion-title {
  text-align: left;
  padding-top: 40px;
  padding-left: 0px;
  padding-bottom: 10px;
}

#audio-upload-accordion {
  text-align: left;
}

#audio-shared-accordion {
  text-align: left;
}

.card {
  //border-radius: 18px !important;
  margin-bottom: 15px;
  border: none !important;
}

.card-header {
  background-color: slategray!important;

  button {
    color: white;
    width: 100%;
  }
}

.card {
  .collapse {
    background-color: ghostwhite;
    color: black
  }
}

.shared-user-disabled-input {
  height: inherit!important;
}

.view-file-btn-container {
  margin-top: auto;
  margin-bottom: auto;
}

.preview-div {

}

.preview-field {
  text-align: left;
  margin-bottom: 10px;
}

.audio-file-name {
  text-align: left;
  display: table-cell;
  width: 100%;
}

.sharer-accordion-label {
  text-align: right;
  display: table-cell;
  width: 100%;
}

.collapse-arrow {
  text-align: right;
  display: table-cell;
  width: 100%;
}

.back-btn {
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.forward-btn {
  padding-bottom: 5px;
  margin-bottom: 10px;
}