#dashboard-container {
  width: 90%;
  display: inline-block;
  text-align: center;
  margin-top: 50px;
  background-color: #343a40!important;
  padding: 30px 30px 40px;
}

#my-dashboard-title {

}

#audio-uploaded-accordion-title {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

#audio-upload-accordion {
  text-align: left;

}

.card {
  border-color: #343a40!important;
}

.card-header {
  background-color: slategray!important;

  button {
    color: white;
  }
}

.collapse {
  background-color: ghostwhite;
  color: black
}